

<div class="p-4">
    <div class="text-2xl mb-2 mt-2">Initial Sexual/Asexual Cells vs Final Cells</div>
    <div class="min-w-96 max-w-3xl max-h-3xl">
        <canvas #cellChart3></canvas>
    </div>
    <div class="text-2xl mb-2 mt-2">Cell Density / Game</div>
    <div class="text-lg mb-2 mt-2">Cell Density * Game Map Size = Final Nr Of Cells ( 0.10 * 24 * 24 ~= 40 final cells ) </div>
    <div class="min-w-96 max-w-3xl max-h-3xl">
        <canvas #cellChart1></canvas>
    </div>
    <div class="text-2xl mb-2 mt-2">Final Cells / Game</div>
    <div class="min-w-96 max-w-3xl max-h-3xl">
        <canvas #cellChart2></canvas>
    </div>
</div>