<div class="flex flex-col m-auto max-w-sm w-full pl-4 pr-4">
    <div class="text-4xl mb-5 title">Reset password</div>
    <div class="mb-5">Enter the email address associated with your account and you will receive a password reset email
    </div>
    <form (ngSubmit)="submit()" [formGroup]="form">
        <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput>
            @if (form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')) {
                <mat-error>Please enter a valid email address</mat-error>
            }
            @if (form.controls['email'].hasError('required')) {
                <mat-error>Email is required</mat-error>
            }
        </mat-form-field>
        <div class="flex justify-end">
            <div class="ml-auto">
                <button class="mr-2" mat-button routerLink="/private/auth/login" type="button">Cancel</button>
                <button [class.shake]="shake$ | async" [class.spinner]="disabled$ | async"
                        [disabled]="disabled$ | async"
                        mat-flat-button
                        type="submit">Reset
                </button>
            </div>
        </div>
    </form>

</div>

