.visible-mobile {
  display: none;
}

@media (max-width: 600px) {
  .visible-mobile {
    display: block;
  }
}

.visible-desktop {
  display: block;
}

.visible-desktop-flex {
  display: inline-flex;
}

@media (max-width: 600px) {
  .visible-desktop {
    display: none;
  }
  .visible-desktop-flex {
    display: none;
  }
}


mat-drawer {
  width: 250px;
}

[mat-button] {
  justify-content: flex-start;
}

.content {
  margin-top: 64px;
  height: calc(100% - 64px);

}

@media (max-width: 600px) {
  .content {
    margin-top: 56px;
  }
}

#main-content {
  scroll-behavior: smooth;
}

.h-full-minus-bar {
  height: calc(100% - 4px);
}