<h2 mat-dialog-title>Add Option to Select</h2>
<mat-dialog-content>
    <mat-form-field class="w-full">
        <mat-label>Add Select Option</mat-label>
        <input [formControl]="form" inputmode="text" matInput type="text">
        @if (form.hasError('required')) {
            <mat-error>Select Option is required</mat-error>
        }
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="onNoClick()" mat-button>No Thanks</button>
    <button (click)="onSubmit()" mat-button>Ok</button>
</mat-dialog-actions>