<app-page>
    <ng-container *ngIf="user$ |async as user">
        <div>
            {{user | json}}
        </div>
    </ng-container>
    <div class="mt-8">
        <div class="text-lg ">Manage Tokens</div>
        <div>
            <button (click)="removeAccessToken()" class="mt-2" mat-stroked-button>Remove Access/Id Token</button>
        </div>
        <div>
            <button (click)="removeRefreshToken()" class="mt-2 " mat-stroked-button>Remove Refresh Token</button>
        </div>
    </div>
    <div class="mt-8">
        <div class="text-lg ">Test Requests</div>
        <div>
            <button (click)="makeProtectedRequest()" class="mt-2" mat-stroked-button>Make Request to Protected
                Endpoint
            </button>
            <div class=" mt-2 ">Result: {{ protectedResult$ | async }}</div>
        </div>
        <div>
            <button (click)="makeUnprotectedRequest()" class="mt-2 " mat-stroked-button>Make Request to Unprotected
                Endpoint
            </button>
            <div class="mt-2 ">Result: {{ unprotectedResult$ | async }}</div>
        </div>
        <div>
            <button (click)="makeAdminProtectedRequest()" class="mt-2 " mat-stroked-button>Make Request to Admin
                Protected
                Endpoint
            </button>
            <div class="mt-2 ">Result: {{ adminProtectedResult$ | async }}</div>
        </div>
    </div>
    <div class="mt-8">
        <div class="text-lg ">Access Token</div>
        <div>{{ localStorage.getItem('access') }}</div>
    </div>
</app-page>
