

<div class="p-4">
    <div class="text-2xl mb-2 mt-2">Distribution of Cells by State (Hungry or Full)</div>
    <div class="flex flex-wrap items-center">
        <div class="min-w-96 flex-grow max-w-xl max-h-xl">
            <canvas #cellChart2></canvas>
        </div>
        <div class="min-w-80 max-w-xl max-h-xl">
            <canvas #cellChart3></canvas>
        </div>

    </div>
    <div class="text-2xl mt-16 mb-2">Distribution of Cells by Map Position</div>
    <div class="in-w-96 max-w-xl max-h-xl">
        <canvas #cellChart1></canvas>
    </div>
</div>