<div class="flex flex-col m-auto max-w-sm w-full pl-4 pr-4">
    <div class="text-4xl mb-5 title">Password Reset Email Sent</div>
    <div class="mb-5">We have sent an email to <strong>{{ email$ | async }}</strong> with instructions on how to
        reset your password.
    </div>
    <div class="mb-5">If you do not receive the email within a few minutes, please <span class="link"
                                                                                         routerLink="/private/auth/reset-password">try again</span>.
    </div>
    <div>After you reset your password you can <span class="link" routerLink="/private/auth/login">log in here</span>.
    </div>
</div>
